ul li a {
    text-decoration: none;
}
ul li Link {
    text-decoration: none;
}

.hero-btn{
    text-decoration: none;
}

.hero-slider-container * {
    color: rgb(226, 226, 226);    
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.features-wrap1 {
    margin-top: -80px;
    position: absolute;
    left: 50%;
    z-index: 31;
    transform: translate(-50%);
    width: max-content;
    cursor: pointer;
}
.features-wrap1 .container .row .vs-feature-box2 {
    padding: 2rem;
}
.service-img img {
    width: 227px;
    height: 227px;
}
.offcanvas-end {
    right: auto;
    left: auto;
}
